%p This webservice lets you store JSON objects on the internet and manage them through HTTP requests.
%p We have examples:
%ul
  %li
    %a{'href' => '/shell'} http
  %li
    %a{'href' => '/ruby'} ruby gem
  %li
    %a{'href' => '/java'} java jar
%p You need an api_key and secret if you want to use the webservice.
%input#signup{:type => 'text', :placeholder => 'request invite mail'}
%br
%p#signup-info= other_developer_count
